body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #3C3D37;
}

h1 {
    color: #eeeeee;
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ECDFCC;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    display: inline-block;
    margin-top: 20px;
    background-color: #697565;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #506349;
}

.cart-list {
    max-width: 600px;
    margin: 0 auto;
}

.cart-list ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

